[Desktop Entry]
Name=tiger-nordic-colors
X-KDE-PluginInfo-Name=tiger-nordic-colors
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@hotmail.com
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
